

.body
{
font-family: Arial, Helvetica, sans-serif;
font-size: medium;
color: #004daa;

}
hr
{
height: 1px solid;
border-color: #004daa;

}
h1
{
 margin: 0%;
 padding: 0%;
 font-size: 2em;
 color:#fa6432

}
p
{
    margin: 0%;
    padding: 15px;
    color: #004daa;
}
a
{
    text-decoration: underline;
    color: #004daa;
}
a:hover
{
 text-decoration: underline;
 color: #fa6432;
}
.container
{
font: size 1.2em;
background-color:#071f6b;
padding-top: 15px;
padding-bottom: 15px;
}
